<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

    <!-- Our own Thymeleaf CSS and JS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script defer src="/js/core.js"></script>
</head>

<body>

<!-- Header Fragment -->
<header th:replace="~{/fragments :: header}"></header>

<main>
    <div class="container">

        <form th:action="@{/user}" th:object="${user}" method="post" class="form" autocomplete="on">
            <h2>Create User</h2>

            <div class="row">
                <div class="user-input col-6">
                    <div class="form-group m-2 p-2">
                        <label for="name" th:text="|Name (max ${userNameLengthMax} chars)|"></label>
                        <input type="text" id="name" class="form-control"
                               th:maxlength="${userNameLengthMax}"
                               th:field="*{name}"
                               placeholder="Enter name"
                               autocomplete="true"
                               required/>
                    </div>

                    <div class="form-group m-2 p-2">
                        <label for="email" th:text="|Email: (max ${userEmailLengthMax} chars)|"></label>
                        <input type="email" class="form-control" id="email"
                               th:maxlength="${userEmailLengthMax}"
                               th:field="*{email}"
                               aria-describedby="emailHelp"
                               placeholder="Enter Email"
                               autocomplete="true"
                               required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>

                    <div class="form-group m-2 p-2">
                        <label for="age" th:text="|Age: (between ${userAgeLimitMin} and ${userAgeLimitMax})|"></label>
                        <input type="number" id="age" size="4" class="form-control"
                               th:min="${userAgeLimitMin}"
                               th:max="${userAgeLimitMax}"
                               th:field="*{age}"
                               placeholder="Enter Age"
                               style="min-width: 50px;max-width: 100px;"
                               required/>
                    </div>
                </div>

                <div class="input-desc col-6">
                    <p>This form has 3 input fields</p>
                    <ul>
                        <li>Name (type=text)</li>
                        <li>Email (type=email)</li>
                        <li>Age (type=number)</li>
                    </ul>
                    <p>All fields are validated before sending the request to the server.</p>
                </div>
            </div>

            <div class="form-group text-end">
                <button type="submit" class="btn btn-primary" title="Create User">Save</button>
            </div>
        </form>
    </div>

    <!-- Toast Notification Fragment -->
    <div th:replace="~{/fragments :: toast}"></div>

    <!-- Modal Dialog Fragment -->
    <div th:replace="~{/fragments :: modal}"></div>

</main>

<!-- Footer Fragment -->
<footer th:replace="~{/fragments :: footer}"></footer>

</body>
</html>