<!DOCTYPE html>
<html lang="en">
<head th:include="~{/fragments :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header th:include="~{/fragments :: header}"></header>
<main>
    <div class="container">

        <h2>Users</h2>
        <table class="user-list">
            <thead>
            <tr>
                <th class="user-id">Id</th>
                <th class="user-name">Name</th>
                <th class="user-email">Email</th>
                <th class="user-age">Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
                <td><a th:href="@{/user/{id}(id=${user.id})}">Show</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
<footer th:include="~{/fragments :: footer}"></footer>
</body>
</html>

