<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{/fragments :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header th:include="~{/fragments :: header}"></header>
<main>
    <div class="container">

        <h2 th:text="'Users (' + ${users.size()} + ')'"></h2>
        <div th:if="${users.size() > 0}">
            <table class="user-list">
                <thead>
                <tr>
                    <th class="user-id">Id</th>
                    <th class="user-name">Name</th>
                    <th class="user-email">Email</th>
                    <th class="user-age">Age</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td><a th:text="${user.email}"></a></td>
                    <td th:text="${user.age}"></td>
                    <td><a class="btn btn-primary btn-small" th:href="@{/user/{id}(id=${user.id})}" title="Show User">Show</a></td>
                    <td><a class="btn btn-primary btn-small" th:href="@{/user/update/{id}(id=${user.id})}" title="Edit User">Edit</a></td>
                    <td><a class="btn btn-primary btn-small" th:href="@{mailto:{email}(email=${user.email})}" title="Email User">Email</a></td>
                    <td><a class="btn btn-danger btn-small" th:href="@{/user/{id}/delete(id=${user.id})}" title="Delete User" th:onclick="'return confirmDelete(\'' +${user.id} +'\')'">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${users.size() == 0}">
            <p>No users found.</p>
        </div>
    </div>

</main>
<footer th:include="~{/fragments :: footer}"></footer>
</body>
</html>

