body {
    font-size: 1.2em;
    font-family: Arial, serif;
}

header {
    background-color: #000000;
    color: white;
    border-bottom: 1px solid #FFFFFF;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header-icon {
    width: auto;
}

#title {
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding: 10px;
}

footer {
    margin-top: 19px;
    width: 100%;
    height: 50px;
    background-color: #000000;
    padding-top: 12px;
    border-top: 1px solid #FFFFFF;
    text-align: center;
    vertical-align: middle;
    color: white;
}

label {
    font-weight: bold;
}

.container {
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    min-height: 80vh;
}

.user-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-id {
    width: 10%;
}

.user-name {
    width: 40%;
}

.user-email {
    width: 40%;
}

.user-age {
    width: 10%;
}

.user-input {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}

.input-desc {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    vertical-align: top;
}

.mvc-subject {
    font-size: 2em;
    font-weight: bold;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

#app-icon {
    width: auto;
}

#logo {
    width: 200px;
    text-align: center;
}

.error-page {
    text-align: center;
}

.navigation {
    background-color: black;
    opacity: 75%;
    border-top: 1px solid gray;
    border-bottom: 1px solid darkgray;
    vertical-align: middle;
}

.nav-icon {
    font-size: 1.2em;
    color: white;
    vertical-align: middle;
    width:auto;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite;
    padding: 10px;
}

.marquee p {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.marquee-item-introduction {
    background-color: black;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.marquee-item-promotion {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.marquee-item-product {
    background-color: green;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.icon-text {
    font-size: .6em
}

.navigation-row {
    margin-right:10px;
    vertical-align: middle;
}

#video {
    text-align: center;
    width: 100%;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}