<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>

    <!-- Our own Thymeleaf CSS and JS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script defer src="/js/core.js"></script>
</head>

<!-- Body onload event to hide the spinner -->
<body onload="showWelcomeToast()">

<!-- Dynamic header -->
<header th:replace="~{/fragments :: header}"></header>
<main>
    <!-- Main container -->
    <div class="container">

        <!-- Marquee -->
        <div class="wrapper">
            <div class="marquee" th:utext="${marquee}">
            </div>
        </div>

        <!-- Logo and title -->
        <div class="text-center">
            <img id="logo" src="/img/logo.png" alt="Spring & Thymeleaf Logo" title="Spring & Thymeleaf Logo">
            <h1 class="display-4">Spring & Thymeleaf</h1>
        </div>

        <p>This app demonstrates how the MVC pattern is used in Spring Thymeleaf, using a simple user form for data
            entry and a list of users.</p>

        <!-- Content sections -->
        <div class="m-2 p-2">

            <div class="jumbotron">
                <h1 class="mvc-subject">Model - Business Logic & Data</h1>
                <p class="lead">Includes services-, repositories- and entity classes.</p>
                <div class="row">

                    <div class="col-4">
                        <b>Services are business logic</b>
                        <p>
                            Handles business logic and access data via repositories.
                        </p>
                    </div>

                    <div class="col-4">
                        <b>Repositories supply data</b>
                        <p>
                            Handles CRUD: Create, Read, Update, Delete and querying data.
                        </p>
                    </div>

                    <div class="col-4">
                        <b>Entity is the data</b>
                        <p>
                            Represents a database object (a row in a database table).
                        </p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="jumbotron">
                <h1 class="mvc-subject">View - User Interface (UI)</h1>
                <p class="lead">Includes HTML-, CSS- and JavaScript files.</p>
                <div class="row">
                    <div class="col-4">
                        <b>HTML structures a view</b>
                        <p>
                            Defines the structure of event-driven elements on a web page.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>CSS styles a view</b>
                        <p>
                            Defines the look and feel style of the page elements.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>JavaScript makes views dynamic</b>
                        <p>
                            Manipulates view structure, data, style and user interaction.
                        </p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="jumbotron">
                <h1 class="mvc-subject">Controller - Delegates requests to services</h1>
                <p class="lead">Gets incoming web requests from views and response with a result view.</p>
                <div class="row">
                    <div class="col-4">
                        <b>Delegates requests from a view</b>
                        <p>
                            Validates and delegates the requests to the targeted service.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>Respond with data from services</b>
                        <p>
                            Returns a view and including data from the service.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>Controls all communication</b>
                        <p>
                            Can convert data on the fly, because it controls all in- and outgoing data.
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <!-- Toast and Modal fragments -->
    <div th:replace="~{/fragments :: toast}"></div>
    <div th:replace="~{/fragments :: modal}"></div>
</main>

<!-- Dynamic footer -->
<footer th:replace="~{/fragments :: footer}"></footer>
</body>
</html>