<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{/fragments :: head}">
    <title th:text="${pageTitle}"></title>
</head>
<body>
<header th:include="~{/fragments :: header}"></header>
<main>
    <div class="container">

        <div class="text-center">
            <img id="logo" src="/img/logo.png" alt="Logo">
            <h1 class="display-4">Spring & Thymeleaf</h1>
        </div>

        <p>This app demonstrates how the MVC pattern is used in Spring Thymeleaf, using a simple user form for data
            entry and a list of users.</p>

        <div class="m-2 p-2">
            <div class="jumbotron">
                <h1 class="mvc-subject">Model - Business Logic & Data</h1>
                <p class="lead">Includes services-, repositories- and entity classes.</p>
                <div class="row">

                    <div class="col-4">
                        <b>Service - Encapsulates business logic</b>
                        <p>
                            Handles business logic and access data via repositories, and returns a
                            response to the requesting controller.
                        </p>
                    </div>

                    <div class="col-4">
                        <b>Repository - Encapsulates data</b>
                        <p>
                            Handles CRUD: Create, Read, Update, Delete and querying data entities, in a database. Only
                            the repository
                            knows about the database implementation.
                        </p>
                    </div>

                    <div class="col-4">
                        <b>Entity - Is the data</b>
                        <p>
                            Represents a database object (a row in a database table).
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="jumbotron">
                <h1 class="mvc-subject">View - User Interface (UI)</h1>
                <p class="lead">Includes HTML-, CSS- and JavaScript files.</p>
                <div class="row">
                    <div class="col-4">
                        <b>HTML - Structures the view</b>
                        <p>
                            Defines the main structure of elements on a web page. The elements are event driven
                            placeholders for content, with attribute for styling, events etc.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>CSS - Styles a view</b>
                        <p>
                            Defines the look and feel style of the page elements. like colors, position, text fonts and
                            styles, animation...
                        </p>
                    </div>
                    <div class="col-4">
                        <b>JavaScript - Programmatic interaction with views</b>
                        <p>
                            A script language used to manipulate the structure and data on a web page and fetch data
                            from
                            external sources/services, via programming.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="jumbotron">
                <h1 class="mvc-subject">Controller - Delegates requests to services</h1>
                <p class="lead">Gets incoming web requests from views and response with a result view.</p>
                <div class="row">
                    <div class="col-4">
                        <b>Delegate - Gets requests from a UI view</b>
                        <p>
                            Validates and delegates the requests to the targeted service.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>Response - Returns data from the service request.</b>
                        <p>
                            Returns a path to a view (html page) and shares data supplied by the service, with the
                            view, by adding view model attributes.
                        </p>
                    </div>
                    <div class="col-4">
                        <b>Formatting - Returns data in requested format.</b>
                        <p>
                            Gets raw data from the service and convert it on the fly to formats like JSON, XML, CSV...
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</main>
<footer th:include="~{/fragments :: footer}"></footer>
</body>
</html>